.photoContainer {
  columns: 6 300px;
  column-gap: 1rem;
  margin: 0rem 4rem;
  .photo {
    width: 150px;
    color: white;
    margin: 0 1rem 1rem 0;
    display: inline-block;
    position: relative;
    width: 100%;
    &:hover .category {
      opacity: 1;
    }
    &:hover .author {
      opacity: 1;
    }
    .image {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .category {
      position: absolute;
      display: flex;
      top: 0;
      color: #fff;
      justify-content: space-between;
      width: 100%;
      text-transform: uppercase;
      font-size: 12px;
      transition: 300ms ease-in;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
      height: 50px;
      align-items: center;
      opacity: 0;
      p {
        padding-left: 1rem;
      }
      .likes {
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          padding: 0rem 0.5rem;
        }
      }
    }
    .author {
      display: flex;
      transition: 300ms ease-in;
      align-items: center;
      justify-content: space-evenly;
      position: absolute;
      bottom: 4px;
      height: 50px;
      width: 100%;
      text-decoration: none;
      color: black;
      opacity: 0;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
      img {
        height: 30px;
        width: 30px;
        object-fit: cover;
        border-radius: 50%;
      }
      p {
        font-size: 10px;
        text-transform: uppercase;
        padding: 0rem 1rem;
        color: lightgrey;
      }
    }
    .tags {
      display: flex;
      margin: 0 0.5rem;
    }
  }
  @for $i from 1 through 8 {
    .photoContainer:nth-child(#{$i}) {
      $h: (random(400) + 100) + px;
      height: $h;
      line-height: $h;
    }
  }
}
